/* line 1, ../pr3_1/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif; }

/* line 1, ../pr3_1/sass/_general.sass */
header {
  position: relative;
  height: 50px; }

/* line 5, ../pr3_1/sass/_general.sass */
nav {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #212121;
  z-index: 5; }

/* line 12, ../pr3_1/sass/_general.sass */
.hamburger {
  display: none; }

/* line 15, ../pr3_1/sass/_general.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none; }
  /* line 21, ../pr3_1/sass/_general.sass */
  .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300; }
  /* line 25, ../pr3_1/sass/_general.sass */
  .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px; }
    /* line 28, ../pr3_1/sass/_general.sass */
    .menu_item:last-child {
      border-right: none; }

/* line 31, ../pr3_1/sass/_general.sass */
.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  /* line 37, ../pr3_1/sass/_general.sass */
  .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px; }
  /* line 41, ../pr3_1/sass/_general.sass */
  .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400; }
  /* line 47, ../pr3_1/sass/_general.sass */
  .subheader_call {
    color: #ffffff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right; }
  /* line 53, ../pr3_1/sass/_general.sass */
  .subheader_phone {
    display: block;
    margin-top: 8px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px; }
  /* line 62, ../pr3_1/sass/_general.sass */
  .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
    /* line 2, ../pr3_1/sass/_mixins.sass */
    .subheader_btn:hover {
      background-image: none;
      background-color: #1eacc7; }

/* line 77, ../pr3_1/sass/_general.sass */
.promo {
  min-height: 800px;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
  padding: 150px 0 135px 0; }
  /* line 81, ../pr3_1/sass/_general.sass */
  .promo_header {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    text-align: center; }
  /* line 89, ../pr3_1/sass/_general.sass */
  .promo_subheader {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 22px;
    text-align: center; }
  /* line 98, ../pr3_1/sass/_general.sass */
  .promo_descr {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 23px; }
  /* line 105, ../pr3_1/sass/_general.sass */
  .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
    /* line 2, ../pr3_1/sass/_mixins.sass */
    .promo_btn:hover {
      background-image: none;
      background-color: #1eacc7; }

/* line 121, ../pr3_1/sass/_general.sass */
.reasons {
  padding: 71px 0 65px 0; }
  /* line 123, ../pr3_1/sass/_general.sass */
  .reasons_block {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px; }
  /* line 128, ../pr3_1/sass/_general.sass */
  .reasons_round {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 26px;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%; }
  /* line 137, ../pr3_1/sass/_general.sass */
  .reasons_descr {
    width: 343px; }
  /* line 139, ../pr3_1/sass/_general.sass */
  .reasons_subtitle {
    line-height: 21px;
    color: #1eacc7;
    font-size: 17px;
    font-weight: 400; }
  /* line 144, ../pr3_1/sass/_general.sass */
  .reasons_text {
    color: #202020;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px; }

/* line 150, ../pr3_1/sass/_general.sass */
.label {
  position: relative;
  margin: 0 auto;
  height: 24px;
  width: 112px;
  padding: 5px 12px;
  background-color: #000000;
  color: #ffffff;
  font-size: 11px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  z-index: 2; }
  /* line 163, ../pr3_1/sass/_general.sass */
  .label_white {
    background-color: #fff;
    color: #000; }
    /* line 166, ../pr3_1/sass/_general.sass */
    .label_white_cities {
      position: relative;
      margin: 0 auto;
      width: 79px;
      background-color: #fff;
      color: #000;
      padding: 5px 12px;
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      text-align: center; }

/* line 180, ../pr3_1/sass/_general.sass */
.title {
  position: relative;
  margin-bottom: 0;
  margin-top: 38px;
  color: #222222;
  font-size: 38px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  z-index: 2; }
  /* line 191, ../pr3_1/sass/_general.sass */
  .title_white {
    color: #fff; }

/* line 194, ../pr3_1/sass/_general.sass */
.subtitle {
  position: relative;
  margin-top: 19px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  z-index: 2; }
  /* line 202, ../pr3_1/sass/_general.sass */
  .subtitle_white {
    color: #fff; }

/* line 205, ../pr3_1/sass/_general.sass */
.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat; }
  /* line 209, ../pr3_1/sass/_general.sass */
  .mobile .row {
    margin-top: 32px; }
  /* line 211, ../pr3_1/sass/_general.sass */
  .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px; }
    /* line 218, ../pr3_1/sass/_general.sass */
    .mobile_item_1 {
      background: url("../img/bg/mobile_screen_1.jpg") center center/cover no-repeat; }
    /* line 220, ../pr3_1/sass/_general.sass */
    .mobile_item_2 {
      background: url("../img/bg/mobile_screen_2.jpg") center center/cover no-repeat; }
    /* line 222, ../pr3_1/sass/_general.sass */
    .mobile_item_3 {
      background: url("../img/bg/mobile_screen_3.jpg") center center/cover no-repeat; }
    /* line 224, ../pr3_1/sass/_general.sass */
    .mobile_item_4 {
      background: url("../img/bg/mobile_screen_4.jpg") center center/cover no-repeat; }
    /* line 226, ../pr3_1/sass/_general.sass */
    .mobile_item_5 {
      background: url("../img/bg/mobile_screen_5.jpg") center center/cover no-repeat; }
    /* line 228, ../pr3_1/sass/_general.sass */
    .mobile_item_6 {
      background: url("../img/bg/mobile_screen_6.jpg") center center/cover no-repeat; }
    /* line 230, ../pr3_1/sass/_general.sass */
    .mobile_item_subtitle {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      line-height: 31px;
      text-transform: uppercase;
      text-align: center; }
    /* line 237, ../pr3_1/sass/_general.sass */
    .mobile_item_plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
      width: 26px;
      height: 26px;
      background-color: #000000;
      margin: 0 auto;
      border-radius: 100%;
      cursor: pointer; }
      /* line 251, ../pr3_1/sass/_general.sass */
      .mobile_item_plus::before {
        content: '';
        display: block;
        width: 14px;
        height: 2px;
        background-color: #1eacc7;
        transition: 0.3s all; }
      /* line 258, ../pr3_1/sass/_general.sass */
      .mobile_item_plus::after {
        content: '';
        position: absolute;
        display: block;
        height: 14px;
        width: 2px;
        background-color: #1eacc7;
        transition: 0.3s all; }
      /* line 267, ../pr3_1/sass/_general.sass */
      .mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
        background-color: #ff5656; }

/* line 270, ../pr3_1/sass/_general.sass */
.choice {
  position: relative;
  min-height: 895px;
  padding: 57px 0 138px 0;
  background: url("../img/bg/mobile_app.png") center center/cover no-repeat; }
  /* line 275, ../pr3_1/sass/_general.sass */
  .choice_img {
    position: relative;
    display: block;
    margin: 56px auto 0 auto;
    z-index: 2; }
  /* line 280, ../pr3_1/sass/_general.sass */
  .choice_descr {
    text-align: center;
    color: #222222;
    font-size: 17px;
    font-weight: 300;
    line-height: 24px; }
  /* line 286, ../pr3_1/sass/_general.sass */
  .choice .black {
    position: absolute;
    top: 0;
    left: 0;
    height: 499px;
    width: 100%;
    background-color: #070716;
    z-index: 1; }

/* line 295, ../pr3_1/sass/_general.sass */
.require {
  padding: 68px 0 84px 0; }
  /* line 297, ../pr3_1/sass/_general.sass */
  .require_block {
    margin: 33px 0; }
    /* line 299, ../pr3_1/sass/_general.sass */
    .require_block_nmb {
      margin-bottom: 0px; }
  /* line 301, ../pr3_1/sass/_general.sass */
  .require_title {
    color: #1CA8C3;
    font-weight: 400;
    font-size: 22px; }
  /* line 305, ../pr3_1/sass/_general.sass */
  .require_list {
    list-style-type: none;
    padding-left: 50px;
    margin-top: 22px; }
    /* line 309, ../pr3_1/sass/_general.sass */
    .require_list li {
      position: relative;
      margin-bottom: 10px;
      font-weight: 300;
      font-size: 17px;
      line-height: 24px; }
      /* line 315, ../pr3_1/sass/_general.sass */
      .require_list li:before {
        content: '';
        display: block;
        position: absolute;
        left: -32px;
        top: 3px;
        width: 21px;
        height: 20px;
        background: url("../icons/check_blue.svg") center center/cover no-repeat; }
  /* line 324, ../pr3_1/sass/_general.sass */
  .require_descr {
    margin-top: 25px;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #1CA8C3; }
  /* line 331, ../pr3_1/sass/_general.sass */
  .require .warning .require_title {
    color: #ff5656; }
  /* line 335, ../pr3_1/sass/_general.sass */
  .require .warning .require_list li:before {
    background: url("../icons/check_red.svg") center center/cover no-repeat; }

/* line 337, ../pr3_1/sass/_general.sass */
.map {
  position: relative;
  min-height: 720px;
  padding: 48px;
  background: url("../img/bg/map.jpg") center center/cover no-repeat;
  width: 100%;
  height: 720px; }
  /* line 344, ../pr3_1/sass/_general.sass */
  .map_descr {
    display: block;
    margin-top: 450px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    color: #1FBAD6; }
    /* line 353, ../pr3_1/sass/_general.sass */
    .map_descr:hover {
      color: #ff5656; }

/* line 355, ../pr3_1/sass/_general.sass */
.footer {
  position: relative; }
  /* line 357, ../pr3_1/sass/_general.sass */
  .footer_block {
    width: 100%;
    height: 155px; }
  /* line 360, ../pr3_1/sass/_general.sass */
  .footer_line {
    margin: 13px auto;
    height: 4px;
    width: 300px;
    background-color: #1FBAD6; }
  /* line 365, ../pr3_1/sass/_general.sass */
  .footer_h1 {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 15px;
    align-items: center;
    text-transform: uppercase;
    margin-top: 35px; }
    /* line 374, ../pr3_1/sass/_general.sass */
    .footer_h1 a {
      text-decoration: none;
      color: #070716; }
      /* line 377, ../pr3_1/sass/_general.sass */
      .footer_h1 a:hover {
        color: #ff5656; }
  /* line 379, ../pr3_1/sass/_general.sass */
  .footer_text {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
    margin: auto;
    margin-top: 12px;
    width: 370px; }
    /* line 392, ../pr3_1/sass/_general.sass */
    .footer_text a {
      text-decoration: none;
      color: #999999; }
      /* line 395, ../pr3_1/sass/_general.sass */
      .footer_text a:hover {
        color: #ff5656; }
  /* line 397, ../pr3_1/sass/_general.sass */
  .footer_rus {
    font-weight: 400;
    font-size: 11px;
    margin-top: 12px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #1FBAD6; }
  /* line 405, ../pr3_1/sass/_general.sass */
  .footer_socialicons {
    position: absolute;
    bottom: 0;
    left: 25px;
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 65px; }
    /* line 413, ../pr3_1/sass/_general.sass */
    .footer_socialicons a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #070716;
      border-radius: 100%;
      margin-left: 6px; }
  /* line 422, ../pr3_1/sass/_general.sass */
  .footer_stores {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 72px;
    right: 25px; }

/* line 428, ../pr3_1/sass/_general.sass */
.xs-visible {
  display: none; }

@media (max-width: 1200px) {
  /* line 3, ../pr3_1/sass/_media.sass */
  .menu_item {
    padding-right: 20px; }
  /* line 5, ../pr3_1/sass/_media.sass */
  .menu_link {
    font-size: 13px; }
  /* line 8, ../pr3_1/sass/_media.sass */
  .promo_header {
    font-size: 50px; }
  /* line 11, ../pr3_1/sass/_media.sass */
  .reasons_block {
    align-items: flex-start; }
  /* line 13, ../pr3_1/sass/_media.sass */
  .reasons_descr {
    width: 300px; }
  /* line 16, ../pr3_1/sass/_media.sass */
  .mobile_item {
    width: 300px; } }

@media (max-width: 991px) {
  /* line 21, ../pr3_1/sass/_media.sass */
  .menu_item {
    padding-right: 8px; }
  /* line 23, ../pr3_1/sass/_media.sass */
  .menu_link {
    font-size: 10px; }
  /* line 27, ../pr3_1/sass/_media.sass */
  .subheader_logo img {
    width: 100%; }
  /* line 29, ../pr3_1/sass/_media.sass */
  .subheader_official {
    font-size: 11px; }
  /* line 31, ../pr3_1/sass/_media.sass */
  .subheader_phone {
    font-size: 18px; }
  /* line 33, ../pr3_1/sass/_media.sass */
  .subheader_btn {
    width: 100%;
    height: 40px;
    margin-top: 21px; }
  /* line 38, ../pr3_1/sass/_media.sass */
  .promo_header {
    font-size: 40px; }
  /* line 40, ../pr3_1/sass/_media.sass */
  .promo_subheader {
    font-size: 31px; }
  /* line 43, ../pr3_1/sass/_media.sass */
  .reasons_block {
    align-items: center;
    flex-direction: column; }
  /* line 46, ../pr3_1/sass/_media.sass */
  .reasons_round {
    margin-right: 0; }
  /* line 48, ../pr3_1/sass/_media.sass */
  .reasons_descr {
    margin-top: 20px;
    width: 300px; }
  /* line 52, ../pr3_1/sass/_media.sass */
  .mobile_item {
    width: 220px; }
    /* line 54, ../pr3_1/sass/_media.sass */
    .mobile_item_subtitle {
      font-size: 23px; }
  /* line 57, ../pr3_1/sass/_media.sass */
  .choice_img {
    width: 100%; }
  /* line 60, ../pr3_1/sass/_media.sass */
  .footer_socialicons {
    position: relative;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    margin: 0px 0 30px 0; }
  /* line 67, ../pr3_1/sass/_media.sass */
  .footer_stores {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 65px;
    right: 0; }
  /* line 73, ../pr3_1/sass/_media.sass */
  .footer_block {
    height: 145px; } }

@media (max-width: 767px) {
  /* line 77, ../pr3_1/sass/_media.sass */
  .menu {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.6s all; }
    /* line 89, ../pr3_1/sass/_media.sass */
    .menu_active {
      left: 0; }
    /* line 91, ../pr3_1/sass/_media.sass */
    .menu_item {
      padding-right: 0;
      border: none;
      margin: 12px 0; }
    /* line 95, ../pr3_1/sass/_media.sass */
    .menu_link {
      font-size: 20px; }
  /* line 97, ../pr3_1/sass/_media.sass */
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translate(-50%);
    width: 26px;
    height: 12px; }
    /* line 105, ../pr3_1/sass/_media.sass */
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: #fff;
      margin-bottom: 2px;
      transition: 0.5s all; }
    /* line 113, ../pr3_1/sass/_media.sass */
    .hamburger_active span {
      margin-bottom: -2px; }
      /* line 115, ../pr3_1/sass/_media.sass */
      .hamburger_active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg); }
      /* line 117, ../pr3_1/sass/_media.sass */
      .hamburger_active span:nth-child(2) {
        display: none; }
      /* line 119, ../pr3_1/sass/_media.sass */
      .hamburger_active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg); }
  /* line 121, ../pr3_1/sass/_media.sass */
  .xs-hidden {
    display: none; }
  /* line 123, ../pr3_1/sass/_media.sass */
  .xs-visible {
    display: block; }
  /* line 126, ../pr3_1/sass/_media.sass */
  .subheader_phone {
    display: block;
    margin-top: 20px;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center; }
  /* line 134, ../pr3_1/sass/_media.sass */
  .subheader_btn {
    display: block;
    width: 180px;
    height: 30px;
    margin: 0 auto;
    margin-top: 10px; }
  /* line 141, ../pr3_1/sass/_media.sass */
  .promo_header {
    line-height: 45px; }
  /* line 145, ../pr3_1/sass/_media.sass */
  .reasons_subtitle {
    text-align: center;
    font-size: 19px; }
  /* line 148, ../pr3_1/sass/_media.sass */
  .reasons_text {
    text-align: center;
    font-size: 13px;
    margin-top: 10px; }
  /* line 153, ../pr3_1/sass/_media.sass */
  .mobile_item {
    width: 520px;
    height: 240px; }
  /* line 156, ../pr3_1/sass/_media.sass */
  .choice {
    padding-bottom: 0;
    min-height: 760px; }
  /* line 159, ../pr3_1/sass/_media.sass */
  .map {
    min-height: 440px;
    height: 440px; }
    /* line 162, ../pr3_1/sass/_media.sass */
    .map_descr {
      margin-top: 205px; }
  /* line 166, ../pr3_1/sass/_media.sass */
  .footer_h1 {
    justify-content: space-evenly; } }

@media (max-width: 575px) {
  /* line 170, ../pr3_1/sass/_media.sass */
  nav {
    height: 30px; }
  /* line 172, ../pr3_1/sass/_media.sass */
  header {
    height: 30px; }
  /* line 174, ../pr3_1/sass/_media.sass */
  .subheader {
    height: 60px;
    top: 30px; }
    /* line 177, ../pr3_1/sass/_media.sass */
    .subheader_official {
      display: none; }
    /* line 179, ../pr3_1/sass/_media.sass */
    .subheader_logo {
      margin-top: 16px; }
    /* line 181, ../pr3_1/sass/_media.sass */
    .subheader_btn {
      width: 110px;
      height: 20px;
      font-size: 10px;
      margin-top: 6px; }
      /* line 186, ../pr3_1/sass/_media.sass */
      .subheader_btn:hover {
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%); }
    /* line 188, ../pr3_1/sass/_media.sass */
    .subheader_phone {
      margin-top: 11px;
      font-weight: 400;
      font-size: 12px;
      text-transform: uppercase; }
  /* line 193, ../pr3_1/sass/_media.sass */
  .promo {
    min-height: 400px;
    padding: 93px 0 35px 0; }
    /* line 196, ../pr3_1/sass/_media.sass */
    .promo_descr {
      display: none; }
    /* line 198, ../pr3_1/sass/_media.sass */
    .promo_header {
      font-size: 30px;
      padding: 0 24px;
      line-height: 35px; }
    /* line 202, ../pr3_1/sass/_media.sass */
    .promo_subheader {
      font-size: 20px;
      margin-top: 32px;
      padding: 0 10px;
      line-height: 30px; }
    /* line 207, ../pr3_1/sass/_media.sass */
    .promo_btn {
      width: 210px;
      height: 50px;
      margin-top: 60px; }
      /* line 211, ../pr3_1/sass/_media.sass */
      .promo_btn:hover {
        background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%); }
  /* line 214, ../pr3_1/sass/_media.sass */
  .menu {
    width: 85%; }
    /* line 216, ../pr3_1/sass/_media.sass */
    .menu_item {
      width: 100%;
      text-align: center;
      padding: 5px 0; }
    /* line 220, ../pr3_1/sass/_media.sass */
    .menu_link {
      display: block; }
  /* line 223, ../pr3_1/sass/_media.sass */
  .reasons {
    padding: 22px 0 36px 0; }
    /* line 225, ../pr3_1/sass/_media.sass */
    .reasons_block {
      margin-top: 26px; }
    /* line 227, ../pr3_1/sass/_media.sass */
    .reasons_round {
      width: 100px;
      height: 100px; }
      /* line 230, ../pr3_1/sass/_media.sass */
      .reasons_round img {
        width: none; }
    /* line 232, ../pr3_1/sass/_media.sass */
    .reasons_descr {
      width: 100%;
      margin-top: 27px; }
    /* line 235, ../pr3_1/sass/_media.sass */
    .reasons_subtitle {
      font-size: 16px; }
  /* line 237, ../pr3_1/sass/_media.sass */
  .title {
    font-size: 15px;
    margin-top: 15px;
    line-height: 16px; }
  /* line 243, ../pr3_1/sass/_media.sass */
  .mobile_item {
    width: 290px;
    height: 240px; }
  /* line 246, ../pr3_1/sass/_media.sass */
  .choice {
    min-height: 488px; }
  /* line 249, ../pr3_1/sass/_media.sass */
  .footer {
    display: block;
    padding-right: none;
    padding-left: none; }
    /* line 254, ../pr3_1/sass/_media.sass */
    .footer_text {
      display: block;
      width: 100%;
      margin-left: 15px; }
      /* line 258, ../pr3_1/sass/_media.sass */
      .footer_text a {
        padding-right: 24px;
        margin-top: 5px; }
    /* line 261, ../pr3_1/sass/_media.sass */
    .footer_h1 {
      font-size: 13px;
      margin-top: 21px; }
    /* line 264, ../pr3_1/sass/_media.sass */
    .footer_block {
      height: 120px; }
    /* line 269, ../pr3_1/sass/_media.sass */
    .footer_socialicons {
      margin: 14px 0 19px 0; }
    /* line 271, ../pr3_1/sass/_media.sass */
    .footer_stores {
      margin-bottom: 10px; } }

/*# sourceMappingURL=style.css.map */